@import "tailwindcss";

@plugin "daisyui" {
	themes: corporate;
}

:root {
	--color-primary: #240cf2;
	--color-secondary: #0064ff;

	--toastify-color-error: var(--color-red-700);
}

* {
	box-sizing: border-box;
}

html,
body {
	background: #f5f6f7;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	@apply flex flex-col items-stretch min-h-full gap-4;
	width: 100%;
}

main {
	@apply flex-1 px-4;
}

header {
	@apply w-full flex flex-row justify-between p-4 items-center  bg-primary text-white font-bold;
}

.container {
	@apply max-w-3xl mx-auto flex flex-col gap-4 sm:p-2;
	width: 100%;
}

.card,
form {
	@apply bg-white shadow-md rounded-lg border border-[rgba(0,0,0,0.1)];
}

form {
	@apply w-full flex flex-col gap-2 p-2;
}

h1 {
	@apply text-2xl font-bold text-primary;
}

h2 {
	@apply text-xl font-medium text-secondary;
}

h3 {
	@apply text-xl font-medium;
}

h4 {
	@apply text-lg font-medium text-gray-600;
}

.fieldset {
	@apply p-2;
	font-size: 1rem;
}

.fieldset label,
.fieldset input {
	@apply w-full;
}

.fieldset input + label,
.fieldset .error + label {
	@apply mt-4;
}

.fieldset .form-inline input + label {
	@apply mt-0;
}

.form-stepper {
	@apply w-full max-w-full overflow-hidden flex flex-row;
}

.form-stepper .fieldset {
	@apply w-full min-w-full flex-1 shrink-0;
	transition: transform 0.3s ease-in-out;
}

.badge {
	--size: unset;
}
