# NPM
/node_modules
**/node_modules

# Build
.env
**/dist
**/.tanstack
**/.turbo
**/.nitro
**/.output
**/tsconfig.tsbuildinfo
**/*.gen.ts

# Misc
**/.DS_Store
**/*.pem

# Test
/test
**/data/**/*
!data/.gitkeep
**/out/**/*
!**/out/.gitkeep
*.out.*
